apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubetask.agent.serviceAccountName" . }}
  namespace: {{ include "kubetask.namespace" . }}
  labels:
    {{- include "kubetask.labels" . | nindent 4 }}
    app.kubernetes.io/component: agent
  {{- with .Values.agent.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
